body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #c2c2c2;
    color: #881713;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.logo {
    width: 280px;
    height: 150px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    margin: 0;
}


    .categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Define 2 columnas */
        gap: 20px; /* Espacio entre las celdas */
    }


h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.imglogo {
    width: 120px;
    height: 110px;
    float: left;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-style: inset;
    border-color: #000000b7;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
}

.intro {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imagenes {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.contenido {
    padding: auto;
    text-align: center;
    font-size: 13px;
}

.box {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border-style: inset;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 100%;
}

.submit {
    background-color: rgba(133, 133, 133, 0.514);
}

.gafas3 {
    height: 120px;
    width: 200px;
}

nav {
    background-color: #000000;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000000;
}

.category {
    text-align: center;
    overflow: hidden;
}

.category img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category img:hover {
    transform: scale(1.1);
}

.category a {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

.category a:hover {
    color: #000000;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
}

.navbar img  {
    vertical-align: middle;
    width: 60px; 
    height: 40px; 
}

.video {
    width: 50%;
    max-width: 640px;
    height: auto;
  
}
